.writer__liner--hide {
    opacity: 0;
}

.writer__liner--show {
    opacity: 1;
}

.writer__words--show {
    animation: word_color_change 1s ease-in-out infinite;
}

@keyframes word_color_change {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}